<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/CSS/style.css">

    <title>Delilah Restó</title>




</head>

<body>
    <header>
        <nav>
            <h1>Delilah Restó</h1>
            <div class="userlogged">
                <img class="img-user" src="/assets/user.png" alt="">
                <span id="userid" class="user-logged-text"><b>{{user.username}}</b></span>
                <a href="/logout" style="text-decoration: none;"><span class="user-logout-text">Log-out</span></a>
            </div>
        </nav>
    </header>
    <div class="agregarplato-text">
        <h2>Cargar producto</h2>
    </div>

    <section>
        <form action="/links/add" method="POST" class="registercontainer">
            <div class="container-input">
                <p class="spanregisterinput"><b>Nombre del plato</b></p>
                <input type="text" class="registerinput" id="reg-plato" name="NombrePlato">
            </div>
            <div class="container-input">
                <p class="spanregisterinput"><b>Codigo abreviado del plato</b></p>
                <input type="text" class="registerinput" id="reg-cod" name="Codigo">
            </div>
            <div class="container-input">
                <p class="spanregisterinput"><b>Precio</b></p>
                <input type="number" class="registerinput" id="reg-precio" name="Precio">
            </div>
            <div class="container-input">
                <p class="spanregisterinput"><b>Imagen</b> (80 x 80 px)</p>
                <input type="text" value="{{plato.Img}}" class="registerinput" id="reg-precio" name="Img">
            </div>
            <div class="container-gluten">
                <p class="spanregisterinput"><b>Gluten free</b></p>
                <br>
                <br>
                <div class="subcontainer-gluten">
                    <input type="radio" id="gluten" name="Gluten" value="0">
                    <label for="Si" class="spanRadioinput">Si</label><br>
                    <input type="radio" id="gluten" name="Gluten" value="1">
                    <label for="No" class="spanRadioinput">No</label>
                </div>

                <button type="submit" class="btn_crearplato" id="btn-crearcuenta">AGREGAR PLATO</button>

        </form>
    </section>
</body>

</html>