<div class="indexfondoblack">
    <div class="indexfondo">
    </div>
</div>

<div class="container-index">
    <span class="indextitle">Delilah Restó</span>
    <br>
    <a style="text-decoration: none;" href="/signin"><span class="indexsubtitle">Iniciar sesión</span></a>
    <br>
    <a style="text-decoration: none;" href="/signup"><span class="indexsubtitle">Crear cuenta</span></a>
</div>